@import url(http://fonts.googleapis.com/css?family=Karla:400,700|Cutive+Mono|PT+Mono);
body {
  font-family: 'Karla', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla', sans-serif; }

.container-lines {
  max-width: 600px;
  margin: 0 auto;
  position: relative; }

/*grid layout, sizing, and padding*/
.container {
  margin: 0 auto;
  background: #aaa;
  max-width: 600px; }

.selected {
  background: #7fdbff !important;
  color: #0274d9 !important; }

.padding-box {
  background-color: red;
  padding: 10px;
  border: 1px solid black; }

.margin-box {
  margin-left: 10px;
  outline: 1px cyan solid; }

.line {
  display: block;
  background: #ccc;
  margin-bottom: 6px;
  margin-left: 130px;
  position: relative;
  transition: 0.5s all; }

.line-direction {
  position: absolute;
  left: -130px;
  text-align: right;
  width: 120px;
  top: 3px; }

.select-label {
  position: absolute;
  left: -195px;
  text-align: left;
  display: inline-block;
  padding: 10px;
  top: 3px;
  background: #eee;
  color: #aaa;
  padding: 3px 0px;
  font-size: 12px;
  width: 60px;
  text-align: center;
  border-radius: 2px;
  transition: 0.3s all; }
  .select-label:hover {
    cursor: pointer;
    background: #ccc; }

.line-miles {
  position: absolute;
  right: -128px;
  text-align: left;
  width: 120px;
  top: 4px; }

.info-container {
  visibility: hidden;
  width: 800px;
  position: absolute;
  height: 290px;
  background: wheat;
  z-index: -5;
  opacity: 0;
  transition: opacity 0.8s; }

.route-chart {
  display: inline-block; }

.route-stats {
  display: inline-block;
  width: 300px;
  height: 290px;
  background: #aaa;
  position: absolute;
  right: 0;
  top: 0; }

tr > td:first-child {
  text-align: right;
  padding-right: 20px; }

/* first column */
/* second column */
.expandedBar {
  visibility: visible;
  opacity: 1; }

.push-margin {
  margin-bottom: 300px; }

table {
  margin: 60px auto 0px auto; }
