$font-color: #333;
$font-color-lighter: #666;
$font-color-lightest: #333;
$bg-color:#fff;

$line-div-color: #eee;
$line-div-border:#fff;
$guide-width:1px !important;

$label-color:#333;
$stats-color: #333;
$body-font-family: 'aktiv-grotesk-std', sans-serif;
$heading-font-family: 'futura-pt';
//$label-font-family: 'courier-prime';

$hover-bar-color: #ddd;

@media(min-width:30em){.row{width:100%;display:table;table-layout:fixed}.col{display:table-cell}}

body,html{
	font-family: $body-font-family;
	z-index: 0;
	height: 100%;
	width: 100%;
	background:$bg-color;
	color:$font-color;
	font-weight: 300;


}
body{
	background: url(../img/8a.jpg);
}


h1,h2,h3,h4,h5,h6{
	font-family: $heading-font-family;
	font-weight: 300;
}
p{
  font-size: 15px;
  line-height: 23px;
}
#tooltip {
position: fixed;
width: 200px;
height: auto;
padding: 10px;
background-color: white;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
pointer-events: none;
z-index: 2000;
}
#tooltip.hidden {
display: none;
}
#tooltip p {
margin: 0;
font-size: 16px;
line-height: 20px;
}
.paused{
	color:#ddd !important;
}

nav{
	width:100%;
	background: #fff;
	left:0px;
	top:0px;
	position: fixed;
	border-right:1px #ccc solid;
	z-index: 1000;
	border-bottom: 1px solid #333;
	text-align: center;
	img{
		margin: 0px auto 10px auto;
		display: block;
		width: 80%;
	}
	ul{
		display: inline;
		//border-right: 1px solid #333;
		//border-left: 1px solid #333;
		padding:0px 20px;
		margin: 0;
		height: 50px;
		line-height: 50px;
	}

	li{
		font-size: 16px;
		font-family: $heading-font-family;
		display: inline;
		text-align: center;
		padding: 15px 10px;
		margin: 0;
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;
		color:$stats-color;
		transition:0.3s all;
		&:hover{
			cursor: pointer;
			//background: red;
			//text-decoration: underline;
			color:$font-color-lighter;
		}
	}

    .col{
		vertical-align: middle;
	}
}
.map{
	//width: 400px;
	margin: 40px auto 10px auto;
	position: relative;
	text-align: center;
}
.container-lines{
	max-width: 680px;
	margin: 50px auto;
	position: relative;
	//height: 1000px;
}
/*grid layout, sizing, and padding*/
.container{
	margin: 0 auto;
	background: #aaa;
	max-width: 600px;
}

.selected{
	background:#7fdbff !important;
	border:#0274d9 1px solid !important;
	&:hover{
		background: #71bac6 !important;
	}
}
.guide{
	background:$bg-color;
	position: absolute;
	top:0px;
	width: $guide-width;
	height: 100% !important;
}

.padding-box{
	background-color: red;
	padding: 10px;
	border:1px solid black;
}

.margin-box{
	margin-left: 10px;
	outline:1px cyan solid;
}


.line{
	//width:100px	//height:20px;
	display: block;
	background: $line-div-color;
	border: 1px $line-div-border solid;
	margin-bottom: 6px;
	margin-left: 130px;
	position: relative;
	transition: 0.5s all;
	//transform:scaleX(0);
	//transform-origin:center left;
}


.line-direction{
	font-size: 14px;
	position: absolute;
	left:-100px;
	text-align: left;
	width: 120px;
	top:3px;
	color: $label-color;
	z-index: 0;
	font-family: $body-font-family;

}

.routeBar, .routeBar circle{
	z-index: 2000;
	&:hover{
		cursor: pointer;
	}
}

.site-info{
	position: relative;
	max-width: 700px;
	line-height: 19px;
	z-index: 900;
	margin-bottom: 60px;
	margin-left: 20px;
	color: $stats-color;
	.title{
		font-size: 32px;
		font-family: $heading-font-family;
		font-weight: 600;
		letter-spacing: 1px;
	}

	.more-btn{
		//border-bottom: 1px $font-color solid;
		//display: inline-block;
		//padding-bottom: 3px !important;
		font-family: $body-font-family;
		margin-bottom: 8px;
		margin-top: 14px;
		font-size: 14px;
		//text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 300;
		display: inline-block;
		border-bottom: 1px solid #333;
		opacity: 0.4;
		transition: opacity 0.3s;
		&:hover{
			opacity: 1;
			cursor: pointer;
		}

	}

	a{
		transition:0.3s all;
		color: #0274d9;
		&:hover{
			color:#7fdbff;
		}
	}
	.more-info{
		height: 0px;
		overflow: hidden;
	}

	// ul{
	// 	display: inline-block;
	// 	margin-left: 0px !important;
	// 	margin: 0px !important;
	// 	margin-right: 10px !important;
	// 	padding-left: 0px !important;
	// 	padding-right: 10px !important;
	// 	text-indent: 0px !important;
	// 	border-right: $stats-color 1px solid;
	// 	li{
	// 		display: inline-block;
	// 		margin-left: 0px !important;
	// 		margin-right: 5px;
	// 		padding-left: 0px !important;
	// 		text-indent: 0px !important;
	// 		color:$stats-color;
	// 		transition:0.3s all;
	// 		&:hover{
	// 			cursor: pointer;
	// 			text-decoration: underline;
	// 			color:$font-color-lighter;
	// 	}
	// 	}
	// }
}

.label-top{
	position:absolute;
	top:-40px;
	font-size: 16px;
	border-bottom: 1px solid $label-color;
	margin: 0px;
	padding: 0px;
	padding-bottom: 5px;
	color:$label-color;
	z-index: 100;
}
.label-selected{
	left: -46px;
}

.label-route{
	left: 32px;
	color: $label-color !important;
}
.label-bar{
	left: 130px;
	//width: 230px;
}

.select-label{
	position: absolute;
	left:-124px;
	text-align: left;
	display: inline-block;
	top:3px;
	//background: $label-color;
	color:$font-color-lightest;
	font-size: 12px;
	width: 12px;
	height: 12px;
	border-radius: 10px;
	text-align: center;
	transition:0.3s all;
	border: $stats-color 1px solid;
	&:hover{
		cursor: pointer;
		background: #ccc;
	}
}

.line-miles{
	position: absolute;
	right: -128px;
	text-align: left;
	width: 120px;
	top:4px;
	font-size: 14px;
	z-index: 1000;
	color: $label-color;
}


.inactive-toggle{
	color:$font-color-lightest;
}

//info and stats for each line

.info-container{
	visibility: hidden;
	min-width: 780px;
	max-width: 900px;
	position: absolute;
	height: 180px;
	//background: wheat;
	z-index: -5;
	opacity: 0;
	transition:opacity 0.8s;
	z-index: 500;
	margin: 5px auto;

}


.route-chart{
	color: $stats-color;
	display: inline-block;
	position: absolute;
	height: 100%;
	left: 300px;
	width: 300px;
	text-transform: capitalize;
	padding-top: 64px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	text-align: left;
	padding-left: 20px;
	h1{
		font-size: 26px;
		margin: 0;
		font-weight: 600;
  		text-transform: uppercase;
  		letter-spacing: 1px;
	}
	h2{
		font-size: 22px;
		margin: 0;
	}
}

.route-stats{
	display: inline-block;
	width:300px;
	height:100%;
	position: absolute;
	left:0;
	top:0;
	color: $stats-color;
}
tr> td{
	padding-left: 12px;
	padding-top:4px;
}
tr > td:first-child {
	text-align: right;
	padding-left: 0px !important;
	padding-right: 12px;
	border-right: #ccc 1px solid;
} /* first column */
	tr > td:first-child + td { } /* second column */

//expanded styles

.expandedBar{
	visibility: visible;
	opacity: 1;
}

.push-margin{
	margin-bottom: 194px;
}

table{
	margin:10px auto 0px auto;
	font-size: 14px;
}

.hover-bar{
	background: $hover-bar-color !important;
}



.top-section{
	max-width: 800px;
	margin: 0 auto;
	padding-top: 100px;
	.col{
		vertical-align: middle;
	}
}










