@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,100italic,300italic,700);

body{
	
}

h1,h2,h3,h4,h5,h6{
	font-family: 'lato', sans-serif;
}


/*grid layout, sizing, and padding*/
.container{
	margin: 0 auto;
	background: #aaa;
	max-width: 600px;
}

.padding-box{
	background-color: red;
	padding: 10px;
	border:1px solid black;
}

.margin-box{
	margin-left: 10px;
	outline:1px cyan solid;
}


.line{
	//width:100px;
	//height:20px;
	display: block;
	background: #ccc;
	margin-bottom: 2px;
	margin-left: 130px;
	position: relative;
	transition: 0.3s all;
}

.line-direction{
	position: absolute;
	left:-130px;
	text-align: right;
	width: 120px;
	top:3px;
}

.line-miles{
	position: absolute;
	right: -90px;
	text-align: left;
	width: 80px;
	top:3px;
}


//info and stats for each line

.info-container{
	visibility: hidden;
	width: 800px;
	position: absolute;
	height: 290px;
	background: wheat;
	z-index: -5;
	opacity: 0;
	transition:opacity 0.8s;
}
.route-chart{
	display: inline-block;
}

.route-stats{
	display: inline-block;
	width:300px;
	height:290px;
	background: #aaa;
	position: absolute;
	right:0;
	top:0;
}

tr > td:first-child { text-align: right; padding-right: 20px;} /* first column */
	tr > td:first-child + td { } /* second column */

//expanded styles

.expandedBar{
	visibility: visible;
	opacity: 1;
}

.push-margin{
	margin-bottom: 300px;
}

table{
	margin:60px auto 0px auto;
}

